#container {
  background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 150, from(rgba(255,0,0,255)), to(rgba(255,255,255,0))),
              -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 150, from(rgba(255,0,0,255)), to(rgba(255,255,255,0)));
}


header {
  text-align: center;
}

header h1 {
  font-size: 40px;
}

header h2 {
  font-size: 18px;
}

#main {
  position: relative;
  margin-top: 30px;
}

#canvas_wrapper {
  width:400px; height:400px; position: relative; margin: 0 auto;
}

#canvas_layer1 {
  border: 1px solid black; background-color: #EEE; position: absolute; left: 0; top: 0; z-index:0;
}

#words_wrapper {
  width: 200px;
  position: absolute;
  left: 75px;
  top: 0;
  background: ;
}

#words {
  overflow: auto;
  height: 382px;
}

#controls {
  position: absolute;
  width: 200px;
  top: 0;
  right: 75px;
}

#grid {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.row {
  width: 400px;
  height: 100px;
}

.letter {
  float: left;
  width: 98px;
  height: 98px;
  border: 1px solid black;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  line-height: 98px;
  background: rgba(255,0,0,0);
  position: relative;
}

.letter .inner {
  display: none;
  width: 98px;
  height: 98px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 10px;
  line-height: 10px;
}

.letter .inner .n {
  position: absolute;
  top: 0;
  left: 50%;
}

.letter .inner .s {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.letter .inner .e {
  position: absolute;
  bottom: 50%;
  right: 0;
}

.letter .inner .w {
  position: absolute;
  bottom: 50%;;
  left: 0;
}

.letter .inner .ne {
  position: absolute;
  right: 0;
  top: 0;
}

.letter .inner .nw {
  position: absolute;
  left: 0;
  top: 0;
}

.letter .inner .sw {
  position: absolute;
  left: 0;
  bottom: 0;
}

.letter .inner .se {
  position: absolute;
  right: 0;
  bottom: 0;
}


.letter.current {
  text-shadow: 0 0 10px #075AF2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #075AF2;
  -webkit-transition: color 0.2s linear;
  -webkit-transition: text-shadow 0.2s linear;
  color: #FFF;
}

.letter.current_word, .letter.viewed {
  text-shadow: 0 0 10px #9DBCF5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9DBCF5;
  -webkit-transition: text-shadow 0.2s linear;
  -webkit-transition: color 0.2s linear;
  color: #FFF;
}